In [ ]:
#Sampling techniques

#Creating a sample set(Step 1)

set.seed(100)
data<- data.frame(
    ID=1:100,
    Category=sample(c("A","B","C"),size=100,replace=TRUE),  #replace =TRUE , to repeat.
    Sales=round(runif(100,1000,20000),2), #2= 2 decimal points.
    Profit=round(runif(100,1000,50000),2),
    UnitsSold=sample(10:500,100,replace=TRUE),
    Score=round(runif(100,1,10),1)
)
head(data)

  ID Category Sales    Profit   UnitsSold Score
1 1  B         5520.39 28002.84 442       2.1
2 2  C        17341.86 19124.64 139       4.3
3 3  B        15026.96 42438.79 134       2.5
4 4  C        10448.93 31418.74 475       2.5
5 5  A        12018.50 20557.86 191       9.8
6 6  B         1307.48 15683.41  65       8.3

In [ ]:
# SIMPLE RANDOM SAMPLING

set.seed(123)
n<- 10
simple_random <-data[sample(nrow(data),n), ]
print('Simple Random Sampling:')
print(simple_random)

[1] "Simple Random Sampling:"
   ID Category    Sales   Profit UnitsSold Score
31 31        C 16486.77 17564.39       401   9.2
79 79        C  2376.00 30341.29        91   6.3
51 51        C  6485.72 17732.56       116   5.1
14 14        C 18261.09 35606.26       406   5.6
67 67        C  3265.98 33457.13       364   1.0
42 42        C  8925.59 37504.13       242   4.1
50 50        B 12514.42 13886.51        21   3.1
43 43        A 12127.34 22560.83       136   3.5
97 97        C  2452.95 39543.41       137   9.6
25 25        C 12525.92 42313.98       217   6.5

In [ ]:
#SYSTEMIC SAMPLING
set.seed(1)
N <- nrow(data)
n <- 10
k <- floor(N/n)
start <- sample(2:k , 1)
indices <- seq(start, by=k,length.out=n)
indices <- ((indices - 1)%% N) +1
systematic <- data[indices,]
print("SYSTEMATIC SAMPLING:")
print(systematic)

[1] "SYSTEMATIC SAMPLING:"
     ID Category    Sales   Profit UnitsSold Score
10   10        B 12969.90 38868.59       402   1.6
20   20        C  4782.38 14708.32        85   3.4
30   30        A 14263.66 39773.92       383   7.0
40   40        C 17292.02 47803.52       112   3.5
50   50        B 12514.42 13886.51        21   3.1
60   60        B 16925.80 16913.09       368  10.0
70   70        A 15980.21 27424.33       234   3.0
80   80        A  9010.17 47430.88       342   3.9
90   90        B  1685.81 38679.94       139   6.3
100 100        B  6644.94 45670.24        30   7.1

In [ ]:
#STRATIFIED DATA
set.seed(123)
prop <- 0.2
stratified <- data %>%
  group_by(Category)%>%
  slice_sample(prop=prop)%>%
  ungroup()
print(stratified)

# A tibble: 19 × 6
      ID Category  Sales Profit UnitsSold Score
   <int> <chr>     <dbl>  <dbl>     <int> <dbl>
 1    55 A         4533. 28553.       308   5.4
 2    78 A        12616. 33103.       138   7.7
 3    54 A        13824. 19461.       128   1.5
 4    23 A         3630. 20101.       478   8
 5    43 A        12127. 22561.       136   3.5
 6    33 B        10121. 10680.       246   9.3
 7    69 B         3284. 28115.        32   4.3
 8    76 B        17676. 48824.        65   8
 9    77 B        16207. 25027.       277   2.9
10     9 B         9800. 47396.       301   8.7
11    56 B         7613. 34319.       305   1.5
12    65 C        13547. 15842.       252   6.2
13    67 C         3266. 33457.       364   1
14    20 C         4782. 14708.        85   3.4
15    71 C         8022. 42630.       290   7.7
16    91 C        11802. 20810        232   7.6
17    17 C        19057. 33386.       306   4.2
18    64 C        19314. 32805.       129   1.9
19    16 C        14848. 35900.       308   6.1

In [ ]:
#CLUSTER SAMPLING
set.seed(1)
data$ClusterID <- sample(1:10, nrow(data), replace = TRUE)
chosen_clusters <- sample(unique(data$ClusterID), 3)
cluster_one_stage <- data %>% filter(ClusterID %in% chosen_clusters) # %>% = then do this %in% = matching operator.
print(cluster_one_stage)

   ID Category    Sales   Profit UnitsSold Score ClusterID
1   3        B 15026.96 42438.79       134   2.5         7
2   6        B  1307.48 15683.41        65   8.3         7
3  13        B  3728.09 33546.68       120   6.8         6
4  15        C  3328.12 14701.77       192   8.2         7
5  29        C  1361.40 31238.35        47   4.2         6
6  32        B 11799.60 45366.93       182   7.6         6
7  37        B  1507.84 16811.70       230   3.3         7
8  38        A 14482.96  5222.30       400   4.3         6
9  40        C 17292.02 47803.52       112   3.5         8
10 42        C  8925.59 37504.13       242   4.1         7
11 43        A 12127.34 22560.83       136   3.5         8
12 44        C 16674.38  6636.93       321   8.2         6
13 46        B  7196.90 36846.42       184   7.8         7
14 49        A  9714.84 34116.58        37   6.2         6
15 50        B 12514.42 13886.51        21   3.1         8
16 53        C 18544.55  1799.66       141   1.7         6
17 54        A 13823.85 19461.38       128   1.5         6
18 58        C  3054.21 47553.56       155   6.7         8
19 59        A  6661.11  8991.44       122   3.4         6
20 60        B 16925.80 16913.09       368  10.0         7
21 61        C 19862.65  7503.09       227   4.2         6
22 62        B  9305.55 32227.57       333   4.3         8
23 63        C  4848.73 17215.55       410   4.0         7
24 66        B  6664.22  4490.43       406   4.0         8
25 69        B  3283.62 28114.65        32   4.3         7
26 71        C  8022.33 42630.02       290   7.7         7
27 72        C 19170.13 33008.07        94   3.8         6
28 75        A  7070.16 25149.19       336   5.0         6
29 78        A 12615.78 33103.44       138   7.7         7
30 79        C  2376.00 30341.29        91   6.3         7
31 81        A  7544.85 19032.56       443   4.4         6
32 85        C  7763.11 23570.17       200   1.0         7
33 92        A  9341.30 26025.27       456   7.0         8
34 95        C  6119.19 22052.72       302   3.0         7
35 96        C 13517.93 49804.55       153   6.6         8
36 98        C  2354.42 26279.62       375   8.3         6
37 99        B  8036.30 25631.71       444   1.2         8

In [ ]:
#NON PROBABILITY
#CONVENIENCE SAMPLING
convenience<-head(data,10)
print(convenience)

   ID Category    Sales   Profit UnitsSold Score ClusterID
1   1        B  5520.39 28002.84       442   2.1         9
2   2        C 17341.86 19124.64       139   4.3         4
3   3        B 15026.96 42438.79       134   2.5         7
4   4        C 10448.93 31418.74       475   2.5         1
5   5        A 12018.50 20557.86       191   9.8         2
6   6        B  1307.48 15683.41        65   8.3         7
7   7        B  9970.47 19674.87       149   9.6         2
8   8        C  1805.40 35355.61       392   4.6         3
9   9        B  9799.93 47396.40       301   8.7         1
10 10        B 12969.90 38868.59       402   1.6         5

In [ ]:
#QUOTA SAMPLING
quotas <- data.frame(Category = c("A", "B", "C"), quota = c(5, 5, 5))

quota_sample <- do.call(rbind, lapply(seq_len(nrow(quotas)), function(i) {
  cat_i <- quotas$Category[i]
  q <- quotas$quota[i]
  data %>% filter(Category == cat_i) %>% head(q)
}))

print(quota_sample)

   ID Category    Sales   Profit UnitsSold Score ClusterID
1   5        A 12018.50 20557.86       191   9.8         2
2  19        A  1372.39  3995.93       116   3.2         9
3  23        A  3629.63 20101.12       478   8.0         2
4  27        A 17024.24 16647.23       470   6.7         4
5  30        A 14263.66 39773.92       383   7.0        10
6   1        B  5520.39 28002.84       442   2.1         9
7   3        B 15026.96 42438.79       134   2.5         7
8   6        B  1307.48 15683.41        65   8.3         7
9   7        B  9970.47 19674.87       149   9.6         2
10  9        B  9799.93 47396.40       301   8.7         1
11  2        C 17341.86 19124.64       139   4.3         4
12  4        C 10448.93 31418.74       475   2.5         1
13  8        C  1805.40 35355.61       392   4.6         3
14 11        C 13791.74 11757.96       138   3.7         5
15 14        C 18261.09 35606.26       406   5.6        10

In [ ]:
# JUDGEMENTAL OR PURPOSIVE SAMPLING
purposive <- data %>% filter(Score > 8 & Sales > 15000)
print(purposive)

  ID Category    Sales   Profit UnitsSold Score ClusterID
1 26        B 16501.66 42514.52       451   9.2         1
2 31        C 16486.77 17564.39       401   9.2        10
3 44        C 16674.38  6636.93       321   8.2         6
4 45        C 16069.65 34106.50        82  10.0        10
5 60        B 16925.80 16913.09       368  10.0         7

In [ ]:
# SNOWBALL SAMPLING
set.seed(123)
data$ID <- 1:nrow(data)
seeds <- sample(data$ID , 3)
snowball_ids <- seeds
max_waves <- 3
wave <- 1

while (wave <= max_waves){
  new_refs <- c()
  for (id in setdiff(snowball_ids,new_refs)){
    possible <- setdiff(data$ID , snowball_ids)
    k <- sample(0:2,1)
    if (length (possible)>0 && k>0){
      picks <- sample(possible,size=min(k,length(possible)))
      new_refs <- unique(c(new_refs,picks))
    }
  }
  if(length(new_refs)==0)break
    snowball_ids <- unique(c(snowball_ids,new_refs))
    wave <- wave+1
}
snowball<- data%>% filter (ID %in% snowball_ids)
print(snowball)

   ID Category    Sales   Profit UnitsSold Score ClusterID
1   7        B  9970.47 19674.87       149   9.6         2
2   9        B  9799.93 47396.40       301   8.7         1
3  15        C  3328.12 14701.77       192   8.2         7
4  25        C 12525.92 42313.98       217   6.5         9
5  27        A 17024.24 16647.23       470   6.7         4
6  31        C 16486.77 17564.39       401   9.2        10
7  44        C 16674.38  6636.93       321   8.2         6
8  45        C 16069.65 34106.50        82  10.0        10
9  51        C  6485.72 17732.56       116   5.1         2
10 52        C 14638.79 11302.03       176  10.0         2
11 61        C 19862.65  7503.09       227   4.2         6
12 69        B  3283.62 28114.65        32   4.3         7
13 79        C  2376.00 30341.29        91   6.3         7
14 80        A  9010.17 47430.88       342   3.9         3
15 84        B  6550.55 25326.88       481   9.7        10
16 89        B  9687.23 28208.16       498   9.7         1
17 91        C 11801.78 20810.00       232   7.6        10
18 97        C  2452.95 39543.41       137   9.6         5